body {
    min-width: 1200px;
    background-color: aquamarine;
}

header {
    background-color: red;
}

footer {}

#services {}

.box{
    float: left;
    width: 33.33%;
    height: 400px;
    /*padding: 00px;*/
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#news {}

#team {}