body {
    min-width: 1200px;
    background-color: aquamarine;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}


/* INICIO ESTILOS HEADER*/

.header {
    height: 120px;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.header-menu {
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.header-brand {
    display: flex;
    width: 80%;
    height: inherit;
    text-align: center;
}

.header-brand__image {
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 10px;
    height: 50px;
}

.header-brand__title {
    color: rgb(3, 8, 80);
    font-size: 2em;
    margin: 0;
    padding-top: 15px;
    padding-left: 0px;
    height: 50%;
}

.header-nav {
    text-align: end;
    width: 100%
}

.header-navlist {
    margin-top: 0;
    margin-bottom: 0;
    height: 70px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.header-navlist__item {
    line-height: 4.2;
}

.header-navlist__link {
    text-decoration: none;
    font-size: 1.05em;
    color: #020961;
}

.header-imagen {
    width: 100%;
}


/* FIN ESTILOS HEADER*/

footer {}


 /*Box para separar cada servicio.
    Cada box sera simetrico y distribuido entre todo el ancho de la pagina.
 */

.services-box{
    float: left;
    width: 20%;
    height: 300;
}

/*Clearfix para corregir cuando un elemento es mayor que el elemento que lo contiene dentro de si.*/
.services-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*Fin estilos de los servicios en el main*/

.row {
    width: 100%;
    height: 350px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 2px;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    font-size: .95em;
    font-weight: lighter;
}

#news {
    background-color: cadetblue;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.news-data {
    width: 49%;
    height: 100%;
    background-color: #000127;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.news-image {
    width: 200px;
    margin: 10px 0;
    padding: 0 40px;
    color: white;
}

.news-image>img {
    width: 200px;
}

.news-text {
    color: white;
    text-align: justify;
    width: 49%;
    padding: 1em 0;
}

.news-text>span.news-url {
    text-align: right;
    color: white;
}

.news-text>span.news-url>a {
    color: rgb(0, 130, 236);
    font-weight: bold;
}

#team {}